/* src/app/home/home.component.scss */
h2 {
  text-align: center;
  margin-top: 20px;
}

p.blue-text {
  color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;

  li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
